.stat-label {
  text-align: left;
}

.stat-value {
  padding-left: 3rem;
  text-align: left;
  font-weight: 400;
}

#search-results {
  position: relative;
  width: 100%;
  min-height: 20rem;
}

#search-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 20rem;
  background-color: var(--maskbg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
}