html {
  padding: none;
  margin: none;
  min-width: 20rem;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--highlight-text-color);
}

#content-container {
  margin: auto;
  max-width: 120rem;
  padding: 3rem 1rem;
  transition: margin 0.2s;
}

/* Style loading spinner for fetching profile */
#profile-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--maskbg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
}

/* Fix for button icons no having padding */
.p-button-icon {
  margin-right: 0.5rem;
}

/* media queries for responsive container */
@media (max-width: 140rem) {
  #content-container {
    max-width: 120rem;
    margin: 0 10rem;
  }
}

@media (max-width: 80rem) {
  #content-container {
    max-width: 76rem;
    margin: 0 5rem;
  }
}

@media (max-width: 50rem) {
  #content-container {
    margin: 0 2rem;
  }

  html {
    font-size: 12px;
  }
}

@media (max-width: 35rem) {
  #content-container {
    margin: 0 0.5rem;
  }
}