html {
  padding: none;
  margin: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
}

#content-container {
  margin: auto;
  max-width: 100rem;
  padding: 3rem 1rem;
}

/* Fix for button icons */
.p-button-icon {
  margin-right: 0.5rem;
}